@keyframes niebla{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 100vw 0;
	}
}

@keyframes mantaraya{
	0%{
		right: -20%;
	}
	100%{
		right: 120%;
	}
}

@keyframes alader{
	0%{
		@include transforma(rotate3d(0,1,0,80deg));
	}
	50%{
		@include transforma(rotate3d(0,1,0,20deg));
	}
	100%{
		@include transforma(rotate3d(0,1,0,80deg));
	}
}
@keyframes alaizq{
	0%{
		@include transforma(rotate3d(0,1,0,80deg));
	}
	50%{
		@include transforma(rotate3d(0,1,0,20deg));
	}
	100%{
		@include transforma(rotate3d(0,1,0,80deg));
	}
}